/* Etilos globais */
* {
    box-sizing: border-box;
    outline: none;
}

/* Formato da página: tamanhos e fonte */
html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Fundo da página */
body {
    background-image: linear-gradient(rgb(0, 177, 193), rgb(0, 64, 70));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Comportamento dos links */
a {
    color: steelblue;
    text-decoration: none;
}

/* Comportamento dos links com o ponteiro sobre eles */
a:hover {
    color: orangered;
}

/* Centraliza, limita e organiza o layout */
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    padding: .5rem;
}

/* Título no cabeçalho */
header h1 {
    margin: 0;
}

header h1 a,
header h1 a:hover {
    color: #fff;
}

/* Menu principal */
header nav {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px dotted grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Comportamento dos links do menu */
header nav a {
    color: white;
    padding: .5rem 1rem;
    text-transform: uppercase;
    transition: .2s;
    font-weight: bold;
}

/* Comportamento dos links do menu com o ponteiro do mouse sobre */
header nav a:hover {
    color: orange;
    background-color: rgba(255, 255, 255, .35);
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div span {
    padding: 0 1rem;
}

/* Conteúdo principal */
main {
    position: relative;
    flex-grow: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

main table,
main table th,
main table td {
    border: 1px solid grey;
}

main table th,
main table td {
    border: 1px dotted grey;
    padding: .25rem .5rem;
}

main table th {
    background-color: rgb(220, 220, 220);
}

main pre {
    background-color: #eee;
    padding: 1rem;
}

main code {
    background-color: #eee;
    padding: 0 .25rem;
}

/* Rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: .5rem;
}

.btn-logout {
    display: inline;
}

.btn-logout button {
    background: none;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    color: #fff;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-logout button:hover {
    color: orange;
    background-color: rgba(255, 255, 255, .35);
}


/* Formulários de Post */

.postform {
    flex-grow: 1;
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
}

.postform form {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.postform input,
.postform textarea,
.postform button,
.comment-form textarea,
.comment-form button {
    font-size: inherit;
    font-family: inherit;
    padding: .25rem .5rem;
    border: 1px dotted grey;
    border-radius: .3rem;
}

.postform button,
.comment-form button {
    background-color: steelblue;
    color: white;
    padding: .5rem 1rem;
    border: none;
}

.post-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.post-title input {
    margin-left: 1rem;
    flex-grow: 1;
}

.post-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-content textarea {
    width: 100%;
    height: 10rem;
    resize: vertical;
    flex-grow: 1;
}

.postform small {
    color: grey;
}

/* Lista de artigos na página inicial */

.author-date {
    background-color: #eee;
    padding: .25rem .5rem;
    border-radius: .25rem;
    display: block;
    margin-bottom: 1rem;
}

article {
    background-color: #eee;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .2s;
}

article:hover {
    background-color: #ddd;
}

article h3 {
    margin: 0;
}

/* Comentários */

#comments {
    padding-top: 1.5rem;
    border-top: 3px double grey;
}

.comment-form {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.comment-form textarea {
    width: 100%;
    height: 6rem;
    resize: vertical;
    border: 1px dotted grey;
    border-radius: .3rem;
}

.comment-item {
    background-color: #eee;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .3rem;
}

.comment-item p {
    margin-bottom: 0;
}

/* Login */

.login-form {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.login-form label {
    display: block;
    padding: 0 0 .25rem .5rem;
}

.login-form input,
.login-form button,
.signup-form input,
.signup-form button {
    font-size: inherit;
    font-family: inherit;
    padding: .25rem .5rem;
    border: 1px dotted grey;
    border-radius: .3rem;
}

.login-form input {
    width: 100%;
}

.login-form button,
.signup-form button {
    background-color: steelblue;
    color: white;
    border: none;
    padding: .5rem 1rem;
}

.login-options {
    line-height: 1.6;
}

/* Cadastro */

.signup-form {
    display: block;
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.signup-form label {
    display: block;
    padding: 0 0 .25rem .5rem;
}

.signup-form ul {
    line-height: 1.6;
    font-size: small;
    color: gray;
}

.helptext {
    display: block;
    font-size: small;
    color: grey;
    padding: .25rem 0 0 .5rem;
}