{% extends "blog/_base.html" %}

{% block title %}Meu Blog - Sobre{% endblock %}

{% block content %}
<h2>Sobre o Meu Blog</h2>

<h3>Quem somos?</h3>
<p>Somos da turma de "Fullstack com Python" do Senac Rio de Janeiro, na unidade de Campo Grande e este é nosso último projeto de aula.</p>

<h3>Plataforma</h3>
<p>Usamos Python com o framework Django, banco de dados SQLite e hospedado no serviço gratuito do PythonAnywhere.</p>

<h3>Objetivos do site?</h3>
<p>Experimentar o os recursos do Django e do Python e aproveitar para fazer um Blog funcional.</p>
<p>Além dos artigos postados pelos usuários cadastrados, temos comentários para cada artigo.</p>

<h3>Onde estão os códigos fonte?</h3>
<p>Os códigos fonte deste aplicativo estão no <a href="https://github.com"></a>GitHub.com</p>

{% endblock %}