{# djangomyblog\blog\templates\blog\post_detail.html #}

{% extends "blog/_base.html" %}

{% block title %}Meu Blog - {{ post.title }}{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>

<small class="author-date">
    Por {{ post.user.username }} em {{ post.created_at|date:"d/m/Y à\s H:i" }}
    {% if post.user.id == user.id %}
    <span>
        <a href="{% url 'edit_post' post.id %}" title="Editar Post">✏️</a>
        <a href="{% url 'delete_post' post.id %}" title="Apagar Post" onclick="return confirm('Term certeza que deseja apagar o Post? Isso é irreversível!')">🗑️</a>
    </span>
    {% endif %}
</small>

<div>{{ post.content_html|safe }}</div>

<h3 id="comments">Comentários</h3>

{# formulário de comentário só aparece se estiver logado #}
{% if user.is_authenticated %}

<div class="comment-form">
    <form action="{% url 'comment_post' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="postid" value="{{ post.id }}">
        <textarea name="comment" required minlength="4" placeholder="Deixe seu comentário!"></textarea>
        <div><button type="submit">Enviar</button></div>
    </form>
</div>

{% else %}

<p style="text-align: center;"><a href="/accounts/login/">Logue-se para comentar!</a></p>

{% endif %}

{# Lista todos os cometários deste post #}

{% if comments|length == 0 %}

<p>Nenhum comentário ainda. Seja o primeiro a comentar.</p>

{% elif comments|length == 1 %}

<h3>1 Comentário</h3>

{% else %}

<hr>
<h3>{{ comments|length }} Comentários</h3>

{% endif %}

<div class="comment-block">

    {% for comment in comments %}
    <div class="comment-item">
        <small>
            Por <strong>{{ comment.user.username }}</strong>
            em {{ comment.created_at|date:"d/m/Y H:i" }}
        </small>
        {{ comment.comment|linebreaks }}
    </div>
    {% endfor %}

</div>

{% endblock %}